/* main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav>ul{
    font-family:Kumbh Sans;
    display: flex;
    flex-direction: row;
    list-style: none;
    opacity: 0.7;
}
nav>ul>li,#iconNav>ul>li{
    padding: 4rem 4rem 3rem 0rem;
    font-size: x-large;
    font-weight: 800;
}
#mainNav hr{
    margin: 4rem 10rem 0rem 8rem;
    border: 1px solid black;
    opacity: 0.3;
}
#navigation{
    margin: 1rem 10rem 0rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
#iconNav>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.avator>img{
    width: 50px;
    height: 50px;

}
.ards{
    width: fit-content;
}
.ards>img{
    width: 400px;
    border-radius:10px;
}
.small-images>img{
    width: 90px;
    margin: 3rem 0.5rem;
    border: 1px solid  orange;
    border-radius: 8px;
}

@media only screen and (max-width:600px) {
   
} */