@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 5px;
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search>input, .search>.currency{
  width: 30rem;
  height:4em;
  border-radius: 40px;
}
.search>.currency{
  width:20rem
}
.user{

}
.user>div{
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
}