@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 5px;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.all{
  margin: auto;
  justify-content: space-around;
}
.search>input, .search>.currency{
  width: 30rem;
  height:4em;
  border-radius: 40px;
}
.search>.currency{
  width:20rem
}
.user{

}
.user>.div{
  height: 4rem;
  width: 2px;
  background-color: rgb(226, 224, 224);
}
.iconBtn{
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  background-color: rgb(241, 241, 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
}