@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 3px;
}
.body{
  background-color: white;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.all{
  margin: auto;
  justify-content: space-around;
}
.search>input, .search>.currency{
  width: 30rem;
  height:4em;
  border-radius: 40px;
}
.search>.currency{
  width:20rem
}
.user{
  margin: auto;

}
.user>div{
  font-size:xx-large
}
.user>.div{
  height: 4rem;
  width: 2px;
  background-color: rgb(226, 224, 224);
}
.iconBtn{
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  background-color: rgb(241, 241, 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
}
.button{
  min-width: 120px;
  height: auto;
  padding: 1rem;
  background-color: aliceblue;
}
.navbar{
  width: 90%;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  /* background-color:rgb(226, 239, 251); */
  margin: auto;
  align-content: space-between;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}
.navLinks>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  .navLinks>ul>li{
    margin-right:3rem;
    font-weight:700;

    color: white;
    font-size: xlarge;
  }
  .navLinks>ul>li:hover{
    text-decoration: underline;
    color: red;
    /* transform: scale(1.3);
    transition:0.5s; */
  }
.User-Info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.User-Info>button{
  padding: 0.7rem 3rem;
  background-color:white;
  margin:2px;
  font-weight: 700;
  font-size: large;
  border-radius: 25px;
}
.wholeINtro{
  /* background-color:  #f9b710 ; */
  background-color:rgb(248, 118, 34);
  /* background-blend-mode: darken; */
  height: 85vh;
}
.hero{
  /* background-image: url("../public/images/bg.png"); */
  color:white;
  font-weight: 800;
  height: 70vh;
  width: 100%;

}
.heroSec{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-width: 500px;
  margin-right: 40px;
  margin-top: 60px;
}
.content h1, .about h2{
  font-family: 'Cormorant Upright', sans-serif;

}

.content h1{
  font-size: 4rem;
  margin-bottom: 20px;
}
.content p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 200;
  
  
}
.content button{
  background: #ed5625;
  color: #FFFF;
  padding: 10px;
  width: 200px;
  font-size: 1.5rem;
 font-weight: 600;
 border: none;
 border-radius: 10px;
 transition:0.5s ease;
}

.heroSec .image{
  width: 100%;
  height: 100%;
}
.heroSec>.image::after{
  height: 5rem;
  width: 5rem;
  border-radius: 40% 40% 30% 60%;
  content: '';
  top :50%;
  left: 80%;
  display: block;
  float: right;
  position: absolute;
  background-color: rgb(219, 218, 217,0.4);
}
.heroSec>.image::before{
  height: 7rem;
  width: 7rem;
  top: 0;
  left: 0;
  float: left;
  border-radius: 40% 40% 30% 60%;
  content: '';
  display: block;
  background-color: rgb(219, 218, 217,0.4);
}
.descr{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.floating-card{
  width: 60vw;
  background-color:rgba(235, 235, 236,0.98);
  margin-top: -100px;
  border-radius:  18px;
  padding: 1rem 1rem 3rem 1rem;
}
.cardz{
  flex-direction: row;
  justify-content: center;
}
.floating-card,.products{
  text-align: center;
}
.floating-card>div>h1,.products>div>h1,.blogs>div>h1{
  padding-top: 3rem;
  font-size: xx-large;
  font-weight: bold;
  opacity: 0.7;
}
.floating-card>div>p,.products>div>p,.blogs>div>p{
  font-size: larger;
  padding: 1rem 0rem 2rem 0rem;

}
.products{
  width: 80%;
  margin: auto;
}
.products >div>h1::before{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  content: '';
  display: block;
  position: relative;
  left: 30vw;
  margin-top: 3rem;
  background-color:#ed5625;

}
.products >div>p::after{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  content: '';
  display: block;
  position: relative;
  float: right;
  right: 20vw;
  background-color:#ed5625;

}
.fcard{
  min-height: 320px;
  min-width: 280px;
  max-width: 280px;
  border-radius: 25px;
  background-color: rgb(112,130,88);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  margin-right: 1rem;
  /* margin: auto; */
}
.fcard> h2{
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}
.fcard> p{
  color:rgba(240, 248, 255,0.9);
  margin-top: 1rem;
}
.inline-flex{
  width: 100%;
  justify-content: space-around;
}
.icon{
  min-width: 5rem;
  min-height: 5rem;
  background-color: rgb(225, 221, 221);
  border-radius: 30%;
  box-shadow: 0px 3px 10px black;
}
.Card{
  border-radius: 0px;
  border: 2px dotted black;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.Card>p,.Card>h4:last-of-type,.blogs>div>.fcard>p{
  margin-top: 0;
  color: rgba(14, 14, 14,0.7);
}
.Card>h4:first-of-type,.blogs>div>.fcard>h4:first-of-type{
  font-weight: 700;
  font-family: 'Cormorant Upright', sans-serif;
}
.blogs{
  min-height: 500px;
  height: fit-content;
  margin-top: 6rem;
  background-color:  #F1F3F4;
}
/* 
dd */
 .section-meals {
      padding: 9.6rem 0;
      display: flex;
  }
  
  .meal {
      box-shadow: 0 1rem 1rem rgba(8, 8, 8, 0.075);
      border-radius: 11px;
      overflow: hidden;
      transition: all 0.4s;
      border: 3px solid rgba(10, 10, 10,0.2);
      width: 400px;
      min-width: 400px;
      margin: 2rem;
  }
  
  /* .meal:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }
   */
  .meal-content {
      padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  
  .meal-tags {
      margin-bottom: 1.2rem;
      display: flex;
      gap: 0.4rem;
  }
  
  .tag {
      display: inline-block;
      padding: 0.4rem 0.8rem;
      text-transform: uppercase;
      color: #333;
      border-radius: 100px;
      font-weight: bold;
  }
  
  .tag--vegetarian {
      background-color:#ed5625;
      color: white;
  }
  
  .tag--vegan {
      background-color: #94d82d;
  }
  
  .tag--paleo {
      background-color: #ffd43b;
  }
  
  .meal-title {
      font-size: 1.5rem;
      color: #333;
      font-weight: 600;
      margin-bottom: 3.2rem;
  }
  
  .meal-attributes {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  .meal-attribute {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;
  }
  
  .meal-icon {
      height: 2rem;
      width: 2rem;
      color: #e67e22;
  }
  
  .meal-img {
      width: 100%;
  }
  
  .all-recipes {
      text-align: center;
      font-size: 1.8rem;
  }
  .section-meals {
    padding: 9.6rem 0;
}


.blogs>div>.fcard{
  background-color: white;
  min-height: 320px;
  height: fit-content;
  text-align: start;
  align-items: flex-start;
}
.blogs>div>.fcard>img{
  margin-top: -1rem;
  border-radius: inherit;
  border: 2px solid rgba(112, 112, 112,0.2);
}
.blogs>div>.fcard>button{
  border: 1px solid black;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 8px;
}
h1>span{
  color: white;
  background-color:#ed5625;
  background-blend-mode: darken;
}
.blogs::before{
  height: 1.5rem;
  width: 1.5rem;
  content: '';
  display: block;
  position: relative;
  float: right;
  right: 22vw;
  background-color:#ed5625;
  transform: rotateY(0deg) rotate(20deg);
}
.reviews{
  padding-top: 5rem;
  text-align: start;
  font-size: x-large;
  color: rgba(14, 14, 14,0.7);
}
.pp{
  padding-left: 16vw;
}
.reviews h2{
  font-weight: bolder;
  color: black;
  font-size: xx-large;
}
.review{
  width: 300px;
  min-height: 200px;
  height: fit-content;
  background-color: white;
  padding: 1rem;
  align-items: flex-start;
}
.review>div>div>h2{
  font-size: large;
}
.review>p{
  color: rgba(19, 18, 18,0.7);
  font-size:large;
}
.arrows{
  padding: 0 16vw;
}

.subscription{
  background-color: #C96768;
  margin: 10rem 10%;
  height: 6rem;
  border-radius: 20px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.subscription>p{
  color: white;
  font-size: x-large;
  font-weight: bolder;
}
.subscription>form>div>input{
  width: 30rem;
  height: 3rem;
  border-radius: 10px 0px 0px 10px;
  padding: 1rem;
  border: 1px solid white;
}
.subscription>form>div{
  border-radius: 10px;
  width: fit-content;
  background-color: white;
}
.subscription>form>div>button{
  height: 3rem;
  background-color: black;
  color: white;
  padding: 0px 3rem;
  border-radius: 10px;
}
footer{
  margin: auto;
  background-color: #ebebeb;
  color: black;
  font-size: 1.3rem;
  margin-top: 50px;
  height: 40vh;
}
.footer{
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
  
}
.fa-twitter{
font-size: 36px;
}
.left{
  /* background-color: aqua; */
  width: 30%;  
}
.left p{
  margin-top: 2rem;
}
.footer>ul{
  /* background-color: red; */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer>ul>.title{
  font-weight: 900;
}
.footer>ul>li:hover{
  color: #ed5625;
}

.dow{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.socials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socials>p{
  font-weight: 900;
}
.media{
  display: flex;
  justify-content: space-around;
}
svg,i{
  transition: 0.5s ease;
}
svg:hover, i:hover{
  color: #ed5625;
}
.opac{

}

@media screen and (max-width: 768px) {
  .Card{
    border-radius: 0px;
    border: 2px solid #C96768;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 1rem;
  }
  .floating-card{
    width: 100vw;
    float: left;
    clear: both;
    height:fit-content;
    background-color:white;
    margin-top: -100px;
    border-radius:  18px;
    padding: 1rem 1rem 3rem 1rem;
  }
  .blogs{
    margin-left: 0;
    margin-right: 0;

  }
  .reviewCardsAll{
  padding-left:0 ;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  }
  .arrows{
    margin: 0 ;
    padding: 0;
  }
}
@media screen and (max-width: 1200px){
  .arrows{
    margin: 0 ;
    padding: 0;
  }
}


